html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    background: #333;
}

body {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

#main-viewport {
    background: greenyellow;
}

canvas {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    cursor: none;
}